<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('./partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>Apps Back</h1>
        <p>Welcome to Kubernetes Apps Back</p>
        <a href="http://localhost:3002" class="btn btn-secondary">Recharger la page back</a>
        <a href="http://localhost:3002" class="btn btn-secondary">...</a>
    </div>
</main>

<footer>
    <%- include('./partials/footer'); %>
</footer>

</body>
</html>